<section class="thirteen columns">
    <h1>Professional Experience</h1>
    <article>
        <header>
            <h1>Technical Consultant: Organization, Architecture and Security</h1>
            <span><address>New York, NY</address><time>2009 to Present</time></span>
        </header>
        <p>- Technical asset and architecture review for start-ups and organizations in transition.
        <p>- Engineering organization development, including roadmaps, development pipelines and hiring plans.</p>
        <p>- Information security support for journalists, activists and non-profits.</p>
        <p>
    </article>
    <article>
        <header>
            <h1>Vice President of Engineering, <ital>Seed-stage Data Science Company</ital></h1>
            <span><address>New York, NY</address><time>2017-2018</time></span>
        </header>
        <p>Lead product roadmap, engineering practices and security planning for an impact-driven government data technology company.</p>
        <p>- Organize and streamline a fully remote team of 12 full-time and contributing developers.</p>
        <p>- Establish baseline security practices, on- and off-boarding processes and security roadmap for 2018.</p>
        <p>- Create hiring plan, job descriptions and interview rubrics. Hired and onboarded two developers.</p>
    </article>
    <article>
        <header>
            <h1>Vice President of Engineering, Noom</h1>
            <span><address>New York, NY</address><time>2015-2017</time></span>
        </header>
        <p>Managed 20 person software development department, including iOS, Android, web, database, infrastructure and QA with 2.5 million annual budget.</p>
        <p>- Launched Noom Coach, a behavior change platform targeting diabetes, hypertension, and obesity in five languages with 70,000 active paid users and 250,000 active free users.</p>
        <p>- Successfully sold and deployed enterprise product to 17 customers, including Aetna Health, YMCA, and Philips, supporting 35,000 participant.</p>
        <p>- Increased launch predictability from ‘no confidence’ to 100% on-time delivery while reducing critical bug rate from 2 per week to 1 per month.</p>
        <p>- Established HIPAA compliant security standards, authorization and authentication protocols, and disaster recovery/business continuity practices across the organization.</p>
        <p>- Reduced monthly hosting costs from $18,000 to less than $6000.</p>
        <p>- Increased developer happiness to 8/10 median monthly from 3/10 on arrival.</p>
    </article>
    <article>
        <header>
            <h1>Manager, Academic Technology Systems, New York University</h1>
            <span><address>New York, NY</address><time>2011-2014</time></span>
        </header>
        <p>Led department responsible for mission-critical university applications including email, learning management, video streaming, file storage and sharing, virtual computing labs, and web publishing, serving a community of over 200,000 users. Owned 24x7 uptime, performance, security, customization, integration and new service development in the academic technology space.</p>
        <p>- Facilitated faculty-driven governance of the centralized learning management and collaboration systems, leading to rapid development of tools for peer evaluation, course evaluation, video annotation, portfolio and online learning, meeting the needs of highly varied constituencies</p>
        <p>- Led disaster operations for academic systems through Hurricane Irene and Superstorm Sandy, including post-event analysis and improvements.</p>
    </article>
    <article>
        <header>
            <h1>Team Lead &amp; Senior Engineer, New York University</h1>
            <span><address>New York, NY</address><time>2001-2011</time></span>
        </header>
        <p>Created and led technical team responsible for university-wide learning management systems, collaboration systems, file storage and sharing, GIS, and academic journal publishing.
        <p>- Chaired the cross-institution Sakai Technical Architecture Group, guiding development of the open source Sakai Learning Management product, currently deployed at over 250 schools, colleges, and universities internationally.</p>
        <p>- Led incubation of the Open Academic Environment (OAE) at NYU, managing a team of 5 remote developers. Apereo OAE is currently available at 20,000 institutions world-wide.</p>
        <p>- Designed and deployed load balanced, highly available, disaster tolerant Blackboard architecture tightly integrated with systems of record throughout the university, including SIS and central identity management, expanding usage from 100 pilot courses to 6,000 courses and 50,000 users per semester.</p>
        </p>
    </article>
    <article>
        <header>
            <h1>Chief Database Architect, SapientRazorfish (<ital>formerly iXL</ital>)</h1>
            <span><address>New York, NY &amp; San Francisco, CA</address><time>1999-2001</time></span>
        </header>
        <p>Led team of five Oracle, SQL Server, PostgreSQL and DB2 database developers building web based content management and e-commerce systems.</p>
    </article>
</section>
