<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>M.S. in Computer Science</h1>
            <span>Courant Institute of Mathematical Sciences, New York University</span>
            <span><address>New York, NY</address><time>2001</time></span>
        </header>
        <p>
            <em>Independent Study in Formal Methods at the Oxford University Computing Laboratory</em>
        </p>
        <p>
            <em>GPA: 3.98</em>
        </p>
    </article>
    <article>
        <header>
            <h1>B.A. <ital>summa cum laude</ital> in International Political Theory </h1>
            <span>Columbia College, Columbia University</span>
            <span><address>New York, NY</address><time>1992</time></span>
        </header>
    </article>
</section>
