<section class="thirteen columns">
    <h1>Community Activities</h1>
    <article>
        <header>
            <h1>Member &amp; Instructor, NYC Resistor</h1>
            <span><address>Brooklyn, NY</address><time>2011 - present</time></span>
        </header>
        <p>
            Help build and maintain a gender diverse hackerspace for over a decade; teach Elecricity .01, Arduino &amp; Soldering
        </p>
    </article>
    <article>
        <header>
            <h1>Review Chair, Open Source Hardware Summit</h1>
            <span><address>Philadelphia, PA &amp; Portland, OR</address><time>2015 &amp; 2016</time></span>
        </header>
        <p>
            Review Chair for double-blind peer-reviewed program selection committee
        </p>
    </article>
     <article>
        <header>
            <h1>Technical Mentor, Black Girls Code</h1>
            <span><address>Brooklyn, NY</address><time>2014 - 2016</time></span>
        </header>
    </article>
<!--    <article>
        <header>
            <h1>Technical Reviewer, O'Reilly Media &amp; Addison-Wesley</h1>
            <span><address>Brooklyn, NY</address><time>2010-2015</time></span>
        </header>
    </article>
-->
</section>