<section class="thirteen columns">
    <h1>Publications</h1>
    <article>
        <header>
            <h1>Whitney, Max. <ital>Sakai OAE Deployment and Management: Open Source Collaboration and Learning for Higher
Education</ital>, O'Reilly</h1>
            <span><address>Sebastopol, CA</address><time>2012</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Technical Reviewer, O'Reilly Media &amp; Addison-Wesley</h1>
            <span><address>Sebastopol, CA &amp; Boston, MA</address><time>2010-2015</time></span>
        </header>
        <p>
            Technical reviewer for titles including <ital>Making Things Talk</ital>, <ital>Building Open Source Hardware</ital>, <ital>Building Wireless Sensor Networks</ital> and <ital>Programming Python</ital>
        </p>
    </article>

</section>